body {
  background-color: #121212;
  color: #f5f5f5;
  font-family: "Poppins", sans-serif;
}

.movie-title {
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  font-size: 3rem;
  margin-bottom: 30px;
  text-transform: uppercase;
}

.iframe-container {
  max-width: 80%;
  margin: 0 auto;
  border-radius: 15px;
  box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.7);
  overflow: hidden;
  background-color: #333;
}

iframe {
  border-radius: 15px;
}

.btn-outline-light {
  border-color: #777;
  font-weight: 600;
}

.btn-outline-light:hover {
  background-color: #444;
  border-color: #fff;
}

@media (max-width: 767px) {
  .movie-title {
    font-size: 2rem;
  }
  .iframe-container {
    max-width: 100%;
  }
}
